body {
  background-color: #f6f5f3;
  font-family: "roboto";
}
.weather-app {
  background: white;
  max-width: 600px;
  margin: 50px auto;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
}
